@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.Name</h1>
        @{
            foreach (var thread in Model.Threads as ICollection<Thread>)
            {
                <h3>@thread.content</h3>
            }
        }
    </div>
</body>
</html>
